
<div class="authentication-card-container" fxLayout="column" fxLayoutAlign="center">
    <mat-card class="authentication-card">
        <mat-card-header>
            <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="loginForm" fxLayout="column" fxLayoutAlign="center stretch" (submit)="onSubmit()">
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password" />
                </mat-form-field>
                <button type="submit" mat-raised-button color="primary">
                    Login
                </button>
            </form>
        </mat-card-content>
    </mat-card>
</div>